@layer base, utils, components;

@import "@webtui/css/base.css";
@import "@webtui/css/components/switch.css";
@import "@webtui/css/components/typography.css";
@import "@webtui/css/utils/box.css";
@import "@webtui/plugin-nf";

@layer base {
	:root {
		--font-family: var(--font-ibm-plex-mono), monospace, "Symbols Nerd Font";
		--font-size: 11pt;
	}

	@media (min-width: 576px) {
		:root {
			--font-size: 13pt;
		}
	}

	@media (min-width: 768px) {
		:root {
			--font-size: 15pt;
		}
	}

	@media (min-width: 1200px) {
		:root {
			--font-size: 16pt;
		}
	}

	[data-lights="off"] {
		--comment-fg: #c0c7b7;
		--normal-bg: #171a15;
		--normal-fg: #fbfcf6;
		--normalfloat-bg: #171a15;
		--okmsg-fg: #ecf6ae;
		--special-fg: #f5a764;
		--statusline-bg: #20241d;
		--tabline-bg: #232720;
		--tabline-fg: #c0c7b7;
		--visual-bg: #363c34;
		--shiki-theme: var(--shiki-dark);
	}

	[data-lights="on"] {
		--comment-fg: #60685b;
		--normal-bg: #d7d9d3;
		--normal-fg: #282c26;
		--normalfloat-bg: #d7d9d3;
		--okmsg-fg: #648221;
		--special-fg: #a34c10;
		--statusline-bg: #c3c9be;
		--tabline-bg: #c9cec3;
		--tabline-fg: #60685b;
		--visual-bg: #b6bdae;
		--shiki-theme: var(--shiki-light);
	}

	:root,
	[data-lights] {
		--background0: var(--normal-bg);
		--background1: var(--normalfloat-bg);
		--background2: var(--tabline-bg);
		--background3: var(--statusline-bg);
		--foreground0: var(--normal-fg);
		--foreground1: var(--normal-fg);
		--foreground2: var(--normal-fg);
		--box-border-color: var(--normal-fg);
		--table-border-color: var(--normal-fg);
	}

	a {
		color: var(--foreground1);
		text-decoration: none;
	}

	main a::before,
	footer a::before {
		content: "[";
	}

	main a::after,
	footer a::after {
		content: "]";
	}

	a:hover::before {
		color: var(--special-fg);
	}

	a:hover::after {
		color: var(--special-fg);
	}

	main a:hover::after {
		content: "](" attr(href) ")";
	}

	main h1::before {
		content: "# ";
	}

	main h2::before {
		content: "## ";
	}

	main h3::before {
		content: "### ";
	}

	main h4::before {
		content: "#### ";
	}

	main h5::before {
		content: "##### ";
	}

	main h6::before {
		content: "###### ";
	}

	small {
		color: var(--comment-fg);
	}

	main :is(h1, h2, h3, h4, h5, h6, p, ul),
	img,
	.astro-code,
	.astro-code span {
		margin-top: 1lh;
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}

	.astro-code,
	.astro-code span {
		/* biome-ignore lint: https://docs.astro.build/en/guides/syntax-highlighting/#setting-light-and-dark-mode-themes */
		background-color: var(--normalfloat-bg) !important;
		color: var(--shiki-theme);
	}

	::selection {
		background-color: var(--visual-bg);
		color: var(--normal-fg);
	}
}
